html{
	background-color:#FFFFFF;
}


.left_bar {
    line-height:30px;
    background-color:#FFFFFF;
    width:100px;
    float:left;
    padding:10px; 
    border-right: 1px dotted black;
    font-size:22px;
    visibility:hidden;
}


a{text-decoration:none}
a:link,a:visited {
	
    color: black;
}



a:hover,a:active {
    color:red;
}

 

#footer {
	text-align:center;
	border-top: 1px solid black;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#header {
	background-color:#FFFFFF;
	text-align:center;
	border-bottom: 1px solid black;
    font-size:64px;
}

#main{
	position:relative;
	padding-left: 25px;
	left:25px;
	width: 80%;
}


ol,li{position:relative;
	left:25px;}